<div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
  <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dasshboard">
      <%= link_to dashboard_path(), class: "nav-link py-3 px-2"  do %>
        <i class="bi bi-bar-chart-fill fs-1"></i>
        <p>Dashboard</p>
      <% end %>
    </li>
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Batch Imports">
      <%= link_to batch_imports_path(), class: "nav-link py-3 px-2"  do %>
        <i class="bi bi-cloud-arrow-up fs-1"></i>
        <p>Batch Import</p>
      <% end %>
    </li>
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Orders">
      <%= link_to orders_path(), class: "nav-link py-3 px-2"  do %>
        <i class="bi bi-list-ol fs-1"></i>
        <p>Orders</p>
      <% end %>
    </li>
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Products">
      <%= link_to products_path(), class: "nav-link py-3 px-2"  do %>
        <i class="bi bi-basket3 fs-1"></i>
        <p>Products</p>
      <% end %>
    </li>
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Sellers">
      <%= link_to sellers_path(), class: "nav-link py-3 px-2"  do %>
        <i class="bi bi-person fs-1"></i>
        <p>Sellers</p>
      <% end %>
    </li>
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Clients">
      <%= link_to clients_path(), class: "nav-link py-3 px-2"  do %>
        <i class="bi bi-person-lines-fill fs-1"></i>
        <p>Clients</p>
      <% end %>
    </li>

  </ul>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi-person-circle h2"></i>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path(), data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path(), method: :delete, class: "dropdown-item" %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path(), class: "dropdown-item" %>
        </li>
        <li>
          <%= link_to "Forgot your password?", new_user_password_path(), class: "dropdown-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
