<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5 card">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="row p-5">
          <div class="col-md-10">
            <h5 class="">Sign up</h5>
          </div>
          <div class="col-md-12">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, required: true, autocomplete: "email" , class:"form-control" %>
          </div>
          <div class="col-md-12">
            <%= f.label :password, class: "form-label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, required: true, autocomplete: "password" , class:"form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.password_field :password_confirmation, required: true, autocomplete: "password_confirmation" , class:"form-control" %>
          </div>

          <div class="col-md-12 d-flex justify-content-md-end mt-3">
            <%= f.submit "Sign up" , class:"btn btn-primary" %>
          </div>

          <%= render "users/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
